$background: #0b0c10;
$white: #fff;
$black: #000;
$second-black: #1f2833;
$third-black: #111;
$fourth-black: #343a40;
$gold: #ffdf5d;
$second-gold: #d4af37;
$red: #fb090b;
$gray: #bcbcbc;
$second-gray: #373a47;
$third-gray: #999;